<div class="border-top text-bg-dark ">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
            <div class="col-md-4 d-flex align-items-center">
                <h5 class="mb-0 mb-md-0 ">© 2024 Company, Inc</h5>
            </div>

            <div class="nav col-md-4 justify-content-end list-unstyled d-flex">

                <h6 class="mx-1 ">Facebook</h6>
                <h6 class="mx-1 ">Instagram</h6>
                <h6 class="mx-1 ">Twitter</h6>

            </div>
        </footer>
    </div>
</div>