<div class=" text-bg-dark  ">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3">

            <div class="d-flex align-items-center mb-0 mb-md-0 me-md-auto">
                <h5 class="m-0">
                    MY SCHOOL
                </h5>
            </div>

            <div class="nav nav-pills fw-bold ">

                <li class="nav-item">
                    <button routerLink="" class="nav-link text-light">Home</button>
                </li>


                <li class="nav-item">
                    <button routerLink="search" class="nav-link text-light">Search</button>
                </li>


                <li *ngIf=" !user?.role" class="nav-item">
                    <button routerLink="login" class="nav-link text-light">Login</button>
                </li>


                <li *ngIf=" !user?.role" class="nav-item">
                    <button routerLink="signup" class="nav-link text-light">Signup</button>
                </li>

                <li *ngIf="user?.role == 'teacher'" class="nav-item">
                    <button routerLink="viewstudents" class="nav-link text-light">View Students</button>
                </li>

                <li *ngIf=" user?.role == 'parent'" class="nav-item">
                    <button routerLink="checkmychild" class="nav-link text-light">Check My
                        Child</button>
                </li>

                <li *ngIf="user?.role == 'admin'" class="nav-item">
                    <button routerLink="addCourse" class="nav-link text-light">Add Course</button>
                </li>

                <li *ngIf="user?.role == 'admin'" class="nav-item">
                    <button routerLink="admin" class="nav-link text-danger ">Admin Dashboard</button>
                </li>
                <li *ngIf=" user?.role == 'student' || user?.role == 'teacher' || user?.role == 'parent' || user?.role == 'admin'"
                    class="nav-item">
                    <button routerLink="login" (click)="logout()" class="nav-link text-danger ">Logout</button>
                </li>

            </div>
        </header>
    </div>

</div>