<div class="img-fluid " style="background-image: url('assets/allOfUs.png');">


    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column text-center ">


        <main class="px-3 d-flex flex-column justify-content-center text-light" style="height: 605px;">
            <h1>WELCOME TO OUR SCHOOL</h1>
            <p class="lead">Welcome to SCHOOL, where students learn Angular alongside a comprehensive curriculum,
                preparing
                them for success in modern web development.</p>
            <p class="lead fw-bold">
                Nice to meet you!
            </p>
        </main>


    </div>

</div>