<div class="container">
    <h1 class="text-center my-5 fw-bolder">Please Signup Here</h1>
    <main class="d-flex flex-column justify-content-around" style="min-height: 76vh;">
        <div class="row">
            <div class="col-12 col-md-4">
                <app-signup-student></app-signup-student>
            </div>
            <div class="col-12 col-md-4">
                <app-signup-teacher></app-signup-teacher>
            </div>
            <div class="col-12 col-md-4">
                <app-signup-parent></app-signup-parent>
            </div>
        </div>
    </main>

</div>